@media screen and (min-width: 1024px){

/* ================== GALERIA ================== */

.min{
    width: 22rem;
    height: 17rem;
    margin: 1rem;
    border-radius: 6px;
    box-shadow: 0 0 0.5rem black;
}
.min:hover{
    transform: scale(1.1);
   
}

}