@media screen and (min-width: 1600px) {
    
    
.box-img img{
    width: 55%;
    
    border-radius: 2rem;
    opacity: 0;
}
#prev{
    left: 22%;
    top: 45%;
}
#next{
    right: 22%;
    top: 45%;
}
#close{
    right: 22%;
    top: 2%;
}

}