@media screen and (min-width: 1200px) {
    
.wrapper{
    width: min(110rem, 100vw);
}
.box2, .box3{
    align-items: center;
    justify-content: center;
    border-left: 1px var(--grafit) solid;
    padding-left: 2rem;
     
}


}