
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --green-primary: #495F41;
    --green-secundary: #2ED197;
    --green-hover: #00453A;

    --orange-btn: rgb(199, 96, 0);
    --box-shadow-btn: 0.2rem 0.2rem 4rem rgb(0, 0, 0);

    --blue-primary:rgb(33, 55, 87);
    --grafit:#838383;

    --background-primary:#F8FAFF;
    --background-secundary: #EEE5E9;

    --background-platinum: #E6E8E6;

    --nav--heigth: 7.2rem;
    font-size: 62.5%;
    /*1rem = 10px  */

}


/* ================== GERAL ================== */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    background-color: var(--background-primary);
    
}
.wrapper{
    width: min(102.4rem, 100vw);
}
ul, a, li {
    list-style: none;
    text-decoration: none;
    text-decoration-style: none;
}
a{
    color:inherit;
}

html {
    /* move o scroll de forma mais leve */
    scroll-behavior: smooth;
}
body{
    font-family: 'Bree Serif', serif;
}
.col-a {
    grid-area: A;
}
.col-b {
    grid-area: B;
}
.btn-doacao-topo{
    background-color:var(--blue-primary);
    color: white;
    border: none;
    border-radius: 4rem;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 19rem;
    height: 3.8rem;
}
.btn-doacao-topo:hover{
    background-color: rgb(199, 96, 0);
    box-shadow: 0.2rem 0.2rem 4rem rgb(0, 0, 0);
}
#navigation.scroll .btn-doacao-topo{
    background-color: var(--green-secundary);
    box-shadow: 0.2rem 0.2rem 4rem rgb(0, 0, 0);
}
#navigation.scroll .btn-doacao-topo:hover{
    background-color: rgb(199, 96, 0);
    box-shadow: 0.2rem 0.2rem 4rem rgb(0, 0, 0);
}
.txt-paragraph{
    font-size: 1.6rem;
    line-height: 130%;
    color: rgb(43, 43, 43);
}
.txt-green{
    font-size: 1.6rem;
    color: var(--green-secundary);
    font-weight: 700;
}
.subtitle{
    font-size: 5rem;
    color: var(--green-primary);
}
.displayNone{
    display: none;
}
.disableScroll{
    overflow: hidden;
}
/* textos inicio de seção */
.box-txt{
    width: 100%;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 6rem;
}
/* ================== HEADER ================== */

.navigation{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;

   
}
.navContent{
    display: flex;
    flex-direction: row;
    align-items: center;  
    justify-content: space-between;

    padding-inline: 2rem;
    margin-inline: auto;
    
   
}
.logo{
    width: 4rem;
   
}
.nav-menu{
    display: flex;
    flex-direction: row;
    align-items: center;  
    padding-inline: 2rem;
    text-align: center;
    gap: 3rem;
    
}
.nav-menu a {
    color: var(--blue-primary);
    font-size: 1.8rem;
    font-weight: 700;
    position: relative;
    opacity: .8;    
}

.nav-menu a::after{
    content: " ";
    width: 0%;
    height: .5rem;
    background-color: var(--blue-primary);
    position: absolute;
    bottom: -20px;
    left: 0;
    transition: 0.3s ease-in-out;
}
.nav-menu a:hover::after{
    width: 100%;
    opacity: 1;
}
.nav-menu a:hover{
    opacity: 1;
}
#navigation.scroll{
    background-color:var(--green-hover) ;
     
}
#navigation.scroll .nav-menu a{
    color: white;
     
}
#btnOpen{
    cursor: pointer;
}
#btnClose{
    cursor: pointer;
}
/* ================== HOME ================== */
.box-banner{
   width:100vw ;
   height: 75vh;
   box-shadow: 0.1rem 0.1rem 1rem rgb(0, 0, 0);

   z-index: 1;
   margin-bottom: 2.5rem;
    
}
.banner{
width: 100%;
height: 100%;

object-fit:cover;
object-position:0% 60%;

}
.section-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info-belagua{
    display: grid;
    height: 15rem;
    align-items: center;
    justify-items: center;
    justify-content: center;
   
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 'A B';
    
    padding-inline: 2rem;

    background-color: var(--background-primary);
}
.txt-missao{
    font-size: 2.8rem;
    line-height: 150%;
    color: var(--blue-primary);
    position: relative;
    text-align: center;
}
.txt-missao::after{
    content: "";
    width: 100%;
    height: .3rem;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* ================== FAÇA PARTE ================== */
.icon{
    width: 7rem;
}
.section-facaParte .wrapper{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.section-facaParte{
    text-align: center;
    background-color: var(--background-primary);
    margin-bottom: 2rem;
}
.card{
    width: 30%;
    height: 40rem;
    margin: 3rem 1rem 2rem 1rem;
    background-color:#364F75;
    border: none;
    border-radius: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    padding: 2.6rem;  

    box-shadow: 0rem 0rem 1rem;
    margin-bottom: 16rem;
}
#doe{
    background-color:#1C5253;
}
#parceiro{
   background-color: #F42272;
}
.box-card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card h2{
    color: white;
    font-size: 2.8rem;
    padding-left: 1rem;
    text-align: left;
}
.card p{
    color: white;
    font-size: 1.6rem;
    text-align: left;
}
.btn-whats{
    background-color:#2ED197;
    color: white;
    border: none;
    border-radius: 4rem;
    font-size: 1.6rem;

    display: flex;
    align-items: center;
    justify-content: center;


    width: 19rem;
    height: 4.5rem;
}
.btn-whats:hover{
   background-color: rgb(199, 96, 0);
   box-shadow: 0.2rem 0.2rem 4rem rgb(0, 0, 0);
}
#parceiro .btn-whats{
    background-color:#364F75 ; 
}
#parceiro .btn-whats:hover{
   background-color: rgb(199, 96, 0);
   box-shadow: 0.2rem 0.2rem 4rem rgb(0, 0, 0);  
}
/* ================== PROJETOS EM ANDAMENTO ================== */

.section-projetos{
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: center;
}
.section-projetos .wrapper{
    background-color: white;
}
.box-projetos{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-bottom: 5rem;
}
.card-projeto{
    width: 47%;
    height: 70rem;
    margin: 3rem 1rem 2rem 1rem;
    border: 1px solid #ffb833 ;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    
    padding: 2rem;  

    box-shadow: 0rem 0rem .5rem;

}
.img-projeto-recorrente{
width: 100%;
border-radius: 2rem;
margin-bottom: 2rem;
}
.box-txt h2{
    color: var(--blue-primary);
    
}
.box-arrecadacao{
    background-color: var(--background-primary);
    display: flex;
    width: 100%;
    padding: 2rem;
    border-radius: 2rem;

    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}
.card-projeto h2{
    color: var(--blue-primary);
    font-size: 2.4rem;
    margin-bottom: 2rem;
}
.card-projeto p{
    font-size: 1.6rem;
    margin-bottom: 2rem;
}
.box-arrecadacao h2{
    text-transform: uppercase;
    color: var(--grafit);
    font-size: 1.6rem;
}
.box-arrecadacao h3{
    color: var(--blue-primary);
    font-size: 1.8rem;
}
.box2, .box3{
    border-left: 1px var(--grafit) solid;
     
}
/* ================== VOLUNTARIOS ================== */
.section-voluntarios{
    background-color: var(--background-primary);
}
.box-voluntarios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5rem;
    padding-left: 2rem;
    
}
.card-voluntario{
    width: 50%;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;  

    margin-bottom: 2rem;
}
.img-voluntario{
    width: 60%;
    border-radius: 4rem;
    box-shadow: 0rem 0rem 1rem rgb(1, 75, 53);
}
.txt-voluntario{
    background-color:white;
    border-radius: 4rem;
    width: 100%;
    height: 70%;
    position: relative;
    left: -5rem;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    padding-inline: 2rem;
    text-align: left;

    box-shadow: 0rem 0rem 1rem rgb(1, 75, 53);
}
.txt-voluntario h2{
    color: var(--blue-primary);
    font-size: 2.2rem;
}
.txt-voluntario h3{
    color: var(--grafit);
    font-size: 1.6rem;
}
.social-links{
    padding-top: 2.5rem;
}
.social-links img{
   width: 3.5rem;
   
}
/* ================== GALERIA ================== */
#modalImg{
    width: 60%;
}
.modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    visibility: hidden;

}
.modalContent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.btn{
    background-color: #3d3d3d9c ;
    color: white;
    font-size: 4rem;
    padding: 1rem 1.5rem;
}
#btnClose{
    position: fixed;
    top: 2rem;
    right: 2rem;
}
.btn:hover{
    background-color: var(--green-secundary);
}






.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-inline: auto;    
} 

.min{
    width: 22rem;
    margin: 1rem;
    border-radius: 4rem;
    box-shadow: 0 0 0.5rem black;
}
.min:hover{
    transform: scale(1.1);
   
}
.galeria{
    display: flex;
}
.galeriaExpanded{
    visibility: hidden;
    opacity: 0; 
    z-index: 999;
}
.galeriaExpanded:target{
    visibility: visible;
    opacity: 1;
    width: 100vw;
    height: 100vh;
    
    background: rgb(10,10,10,0.7) ;
    top: 0;
    left: 0;
    position:fixed;
    z-index: 999;
}

.box-img{
    /* margin: 5rem 10rem;    */
    padding: 1rem 10rem;
}
.box-img img{
    width: 100%;
    border-radius: 2rem;
    opacity: 0;

}
.galeriaExpanded:target .box-img img{
    opacity: 1;
    transition: opacity .5s linear;
    
}
.btn-galeria{
    color: white;
    font-family: 'Arial';
    text-decoration: none;
    position: absolute;
    width: 5rem;
    height: 5rem;
    font-size: 4rem;
    text-align: center;
}
#prev{
    left: 3%;
    top: 45%;
    cursor: pointer;
}
#next{
    right: 3%;
    top: 45%;
    cursor: pointer;
}
#close{
    right: 2%;
    top: 2%;
    cursor: pointer;
}


/* ================== FOOTER ================== */
#footer{
    background-color: #393939;
    height: 25rem;
    width: 100vw;
    display: flex;
    justify-content:center ;
    align-items: center;
    margin-top: 10rem;
}
footer .wrapper{
    background-color: #393939;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
   
}

.box-logo{
   height: 15rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:flex-start;
    gap: 3rem;
}
.endereco,
.contatos,
.apoio{
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.endereco h2,
.contatos h2,
.apoio h2{
font-size: 2.2rem;
color: white;
padding-bottom: 2rem;

}
.endereco h3,
.contatos h3,
.apoio h3{
font-size: 1.5rem;
color: white;
font-weight: 400;
opacity: .8;
}
.contatos a,
.endereco a
{
font-size: 1.5rem;
color: white;
font-weight: 400;
display: flex;
justify-items: center;
align-items: center;
gap: 1rem;
opacity: .8;
}
.contatos a:hover,
.endereco a:hover
{
color: white;
opacity: 1;
}
.endereco h3:hover,
.contatos h3:hover,
.apoio h3:hover{
    color: white;
    opacity: 1;
}


